<footer class="footer">
  <!--<a class="footer-logo" href="/">
    <img src="/images/logo.png" alt="MedNeed"/>
  </a><br><br>]
-->
  
<p>Contact</p>
<p>support@medneed.com</p>
<p>+234-80-888-292-16</p>
<br>

    <ul class="social-list">
        <li>
        <a href="https://www.facebook.com/medneedservice" target="_blank" class="social-link"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
        <a href="https://www.linkedin.com/company/medneedservice/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
        <a href="https://www.instagram.com/medneedservice/" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a>
        </li>
     </ul>
  
  <nav>
    <ul class="footer-nav nav-links">
     {% include nav-links.html %}
    </ul>

    <ul class="footer-nav nav-links">
      {% include nav-links-footer.html %}
     </ul>
  </nav>

  <br>
  <h3><strong>Together, <span>we improve access to medical care.</span></strong></h3>

  <h5>©2021, MedNeed Service - All rights reserved.</h5>
</footer>