<footer class="footer">
  <a class="footer-logo" href="/">
    <img src="/images/logo.png" alt="MedNeed"/>
  </a><br><br>
    <ul class="social-list">
        <li>
        <a href="https://www.facebook.com/medneedservice" class="social-link">Fb</a>
        </li>
        <li>
        <a href="https://www.linkedin.com/company/medneedservice/" class="social-link">Li</a>
        </li>
        <li>
        <a href="https://www.instagram.com/medneedservice/" class="social-link">Ig</a>
        </li>
  </ul>
  
  <nav>
      <ul class="footer-nav nav-links">
        {% include nav-links.html %}
      </ul>
    </nav>

  
  <h3>Together, <span>we improve access to medical care in communities.</span></h3>
</footer>