---
layout: default
title: Offers
description: Offers and coupons for medical equipment and supplies from vendors and manufacturers certified for quality products and services.
---

<div class="page blog-index">
  <h1>Offers</h1>

  <div class="col-two blog-cols">
    <div class="col col-aside blog-recent">
      <h4>Recent</h4>
      <ul class="blog-title-list">
        {% for offer in site.offers limit:5 %}
          <li>
            <a href="{{ offer.url }}">{{ offer.title }}</a>
            <span>Posted: {{ offer.date | date: '%B %d, %Y' }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col col-content blog-previews">

      {% for offer in site.offers %}
        {% include offer-excerpt.html %}
      {% endfor %}
      
    </div>
  </div>

</div>